.review {
    background-color: #002A3B;

}

.r-pic {
    width: 55px;
    margin-right: 22px;
    margin: 72px;
}

.v-l {
    height: 38px;
    width: 2px;
    background-color: white;
    margin-left: 60px;
}